@import "header.css";
@import "hero.css";
@import "features.css";
@import "reviews.css";
@import "subscribe.css";
@import "footer.css";


html {
    font-size: 1vw;
    font-family: Rubic, Arial, serif;
}

body {
    margin: 0;
    padding: 0;
}

@media screen and (min-width: 1000px) {
    html {
        font-size: 1vw;
    }

}

@media screen and (min-width: 600px) and (max-width: 999px) {
    html {
        font-size: 2vw;
    }
}

@media screen and (max-width: 599px) {
    html {
        font-size: 3vw;
    }

}